* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	background-image:
		url("https://i.pinimg.com/originals/1f/9c/76/1f9c766d23f125e9fcb591eaef703aa9.jpg");
	background-attachment: fixed;
	background-size: auto auto;
	padding-bottom: 4em;
}

#pleaseWork {
	cursor: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHEUgBjfAm62hnvq07-7O5cgLIfdymmoyCt4jexVulGD1OLOeS"),  auto !important;
}


.blended_grid {
	display: block;
	width: auto;
	overflow: hidden;
	margin: 0px auto 0 auto;
	padding-top: 5%;
	text-align: center;
}

.topBanner {
	ground-color: #191A18;
	float: center;
	clear: none;
	height: 200px;
	width: 100%;
}

.leftColumn {
	background-color: rgba(0,0,0,.65);
	float: left;
	clear: none;
	height: auto;
	width: 200px;
	border: solid .5px black;
}

.feedHost {
	float: center;
	clear: none;
	min-width: 80px;
	min-height: 80px;
}

.feed {
	border: solid .5px black;
	background-color: rgba(0,0,0,.65);
	float: none;
	clear: both;
	height: auto;
	width: 100%;
	color: #D4D8AC;
	margin-bottom: 4px;
	text-align: center;
	font-family: fantasy;
}

.rightColumn {
	background-color: rgba(0,0,0,.65);
	float: right;
	clear: none;
	height: auto;
	width: 200px;
	border: solid .5px black;
}

.script {
	font-family: cursive;
	color: #D4D8AC;
}

.companyName {
	font-family: fantasy;
	font-size: 3em;
	font-weight: bolder;
	color: #D4D8AC;
}

.companyNameSmall {
	font-family: fantasy;
	font-size: 1.3em;
	font-weight: bolder;
	color: #D4D8AC;
}

.companyNameSmaller {
	font-family: fantasy;
	font-size: .85em;
	font-weight: bolder;
	color: #D4D8AC;
}

.formTextLight {
	color: #D4D8AC;
}

.gimmeRoom {
	margin-top: 3px;
}

.fancyBox {
	padding: 30px 30px 3px 30px;
	margin-right: 150px;
	margin-left: 150px;
	border: solid .5px black;
	background-color: rgba(0,0,0,.45);
}
thead {
	border-bottom: solid 1.5px black;
}

#invisible {
	border: solid 0px black;
	background-color: rgba(0,0,0,0);
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
	background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
	padding: 18px;
	background-color: white;
	color: black;
	display: none;
	overflow: hidden;
}

.insuredTable {
	border: solid .5px black;
	background-color: rgba(0,0,0,.65);
	float: none;
	clear: both;
	height: auto;
	width: 100%;
	color: #D4D8AC;
	margin-bottom: 4px;
	text-align: left;
	font-family: fantasy;
}

.footer {
    position: fixed;
    left: 0;
    bottom: -10px;
    padding: 10px;
    padding-left: 45%;
    width: 100%;
    background-color: rgba(0,0,0, .75);
    color: white;
}

.padding{
	padding: 10px;
}